*,body,html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #EEE;
}
/* Start Admin Login */
.admin-form{
    width: 300px;
    margin: 100px auto;
    background-color: #FFF;
    width: 500px;
}

.admin-form .form-control{
    margin: 10px 0;
}

.admin-form input[type='submit']{
    margin: 15px auto;
}
/* End Admin Login */

/* Navbar */
.navbar-nav{
    width: 100%;
}

.navbar-nav .dropdown-menu{
    border: 0;
    border-top: 2px solid #ee5253;
    right: 0% !important;
    border-radius: 0;
    padding: 0;
    top: 97%;
    box-shadow: 0px 0px 5px 0px #343a40;
}

.dropdown-menu .dropdown-item{
    padding: 10px 25px !important;
    transition: all .2s ease-in;
}
.dropdown-menu .dropdown-item:hover{
    background-color: #ee5253;
    color: #FFF;
    padding: 10px 25px 10px 30px !important;
}

.navbar-nav .nav-item{
    /*width: 7%;*/
}
.navbar-dark .navbar-nav .nav-link{
    display: block;
    text-align: center;
    transition: .2s linear;
}

.navbar-dark .nav-item.active{
    background-color: #ee5253
}
/* Navbar */

/* Members Table In Admin Page */
.members-table{
    background-color: #FFF;
    text-align: center;
}

.members-table td{
    line-height: 2.3;
}


/* Dashboard Style */
.admin-stats .row > div div{
    transition: all .3s ease;
}

.admin-stats .row > div div:hover{
    transition: all .3s ease;
    box-shadow: 5px 5px 20px 3px #B0B0B0 !important;
}
.admin-stats .row > div:nth-child(1) div{
    background-image: linear-gradient( 135deg, #6B73FF 10%, #000DFF 100%);

}


.admin-stats .row > div:nth-child(2) div{
    background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
}

.admin-stats .row > div:nth-child(3) div{
    background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
}

.admin-stats .row > div:nth-child(4) div{
    background-image: linear-gradient( 135deg, #F05F57 10%, #360940 100%);
}

.admin-stats .row > div div p{
    color:#FFF;
    font-size: 1.4em;
    font-weight: bold;
}

.admin-stats .row > div div span{
    font-size: 1.2em;
    font-weight: bold;
    color: #FFF
}

.admin-stats2 .card-header{
    background-color: #343a40;
    color: #FFF;
}

/* Admin Dashboard */
.latest-users li:nth-child(odd){
    background-color: #EEE;
}

/* Categories */
.cats hr:last-of-type{
    display: none;
}

.cat-controls{
    transition: all .3s ease-in-out;
    transform: translateX(20px);
    opacity: 0;
}

.cats li:hover .cat-controls{
    transform: translateX(0);
    opacity: 1;
}

.ordering-method .active{
    background-color: #dc3545 !important;
}

/*User Categories*/
.price{
    right: 0;
    background-color:#ee5253;
    top: 40px;
}

/* User Login */
.user-form{
    margin-top: 20px;
}

.user-form input[type='submit']{
    background-color: #ee5253
}
/* Global Styles */
.cover{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: -1;
}
